     /* Universal Styles */

 body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
.flex-container {
	display: flex;
	justify-content: center;
}

     /* Header Section */

header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 60px;
	background-color: rgba(0, 140, 100, 0.9);
	border-bottom: solid 1px rgb(0, 140, 100);
	align-items: center;
}
span h1{
	font-family: 'Oswald', sans-serif;
}
header img {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
a {
	text-decoration: none;
	color: white;
}
nav {
	text-align: right;
	flex-grow: 1;
}
nav span {
	display: inline-block;
	padding: 20px 10px;
}
nav a {
	text-decoration: none;
	color: white;
}

     /* Mission Section */

#banner {
    position: relative;
    padding-top: 20px;
    background-image: url('/Images/Animals/liudmyla-denysiuk-iJ9o00UeAWk-unsplash(2).jpg');
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#banner .flex-container {
    align-content: center;
}
#banner .content {
    margin: auto;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: right;
    padding-right: 20px;
}
#banner h2 {
    font-size: 50px;
}

#banner h4 {
    font-size: 27px;
}

     /* Forms Section */
#form {
	background-color: lightblue;
	padding-top: 2%;
	padding-bottom: 2%;
}
p {
	margin-right: 20%;
	margin-left: 20%;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: rgb(0, 140, 100);
	border: 3px solid rgb(0, 140, 100);
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding: 1% 2%;
	border-radius: 2px;
	width: 25%;
	margin: 2% 50%;

}
.col-25 {
	float: left;
	width: 25%;
}
.container {
	margin-right: 35%;
	margin-left: 35%;
	margin-top: 3%;
}

     /* Footer Section */

 footer {
 	padding-top: 1%;
 	padding-bottom: 1%;
 	background-color: lightblue;
 }






